.scroll-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}

.scroll-to-top-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
}
.progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.progress-bg {
  color: #d1d5db;
}

.progress-bar {
  color: #006cb7;
  transition: stroke-dashoffset 0.3s ease;
}

.scroll-to-top-icon {
  font-size: 20px;
  color: #006cb7;
}
