.container {
  background-color: #e4e6e8;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.menu-list li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
  font-size: 18px;
  cursor: pointer;
  color: #2874f0;
  transition: all 100ms ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-list li:hover {
  color: #000;
}

aside {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

aside .icon {
  color: #2874f0;
  font-size: 25px;
}

aside .primary-btn {
  padding: 10px 15px;
  background-color: #2874f0;
  color: #fff;
  border: 1px solid #2874f0;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

aside .primary-btn:hover {
  background-color: transparent;
  color: #2874f0;
}

@media (max-width: 768px) {
  .menu-list li {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
